{% load static %}
<!DOCTYPE html>
<html >
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="msapplication-TileColor" content="#000">
      <meta name="theme-color" content="#000">
      <link rel="icon" type="image/png" href="{% static 'dash/images/icons/favicon.ico' %}"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <title>BABA GORA TRANSPORT</title>
      <link rel="shortcut icon" href="" />
      <link  rel="stylesheet" href="{% static 'login/css/style.css' %}">
   </head>
   <body>
      <div class="container-fluid">
         <div class="row">
            <div class="authfy-container col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
               <div class="col-sm-5 authfy-panel-left">
                  <div class="brand-col">
                     <div class="headline">
                        <!-- brand-logo start -->
                        <div class="brand-logo">
                           <h2 style="font-size: 40px;">BABA GORA TRANSPORT</h2>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-7 authfy-panel-right">
                  <div class="authfy-login">
                     <div class="authfy-panel panel-login text-center active">
                        <div class="authfy-heading">
                           <h3 class="auth-title">Login</h3>
                        </div>
                        <div class="row">
                           <div class="col-xs-12 col-sm-12">
                              <form name="loginForm" class="loginForm" action="#" method="POST">
                                 {% csrf_token %}
                                 <div class="form-group">
                                    <input type="text" class="form-control text" name="username" placeholder="User name">
                                 </div>
                                 <div class="form-group">
                                    <div class="pwdMask">
                                       <input type="password" class="form-control password" name="password" placeholder="Password">
                                     </div>
                                 </div>
                                <div class="row remember-row">
                                    <div class="col-xs-6 col-sm-6">
                                      <label class="checkbox text-left">
                                    </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">                                      
                                    </div>
                                 </div>
                                 <div class="form-group">
                                       <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="{% static 'login/js/jquery-2.2.4.min.js' %}"></script>
      <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'login/js/custom.js' %}"></script>
   </body>
</html>