{% load static %}
<!DOCTYPE html> <!-- The new doctype -->
<html>
    <head>
    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>BABA GORA TRANSPORT</title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'detail/styles.css' %}" />
        
       
        
    </head>
    
    <body>
    	
    	<section id="page"> 
    
            <header> 
                <hgroup>
                    <h1>BABA GORA</h1>
                    <h3>TRANSPORT</h3>
                </hgroup>
                                
               
            
            </header>
            
            <section id="articles"> 

                <div class="line"></div> 
                <div class="line"></div>
                
                <article id="article2">
                    <h2>Truck Number:</h2>
                    
                    <div class="line"></div>
                    
                    <div class="articleBody clear">
                    	
                        
                        <p>
                        <li style="font-size: 18px; letter-spacing: 2px;">Date of Departure :</li><br>
                        <li style="font-size: 18px; letter-spacing: 2px;">Trip Start Date:</li><br>
                        <li style="font-size: 18px; letter-spacing: 2px;">Items :</li> <br>
                        <li style="font-size: 18px; letter-spacing: 2px;">Weight Loaded :</li><br>
                        <li style="font-size: 18px; letter-spacing: 2px;">Extra Expenses :</li><br>
                        <li style="font-size: 18px; letter-spacing: 2px;">From :</li> <br>
                        <li style="font-size: 18px; letter-spacing: 2px;">To :</li><br>
                        <li style="font-size: 18px; letter-spacing: 2px;">Comment :</li><br>
                        <li style="font-size: 18px; letter-spacing: 2px;">Driver Name :</li> <br>
                        <li style="font-size: 18px; letter-spacing: 2px;">Cost/Ton :</li><br>
                        <li style="font-size: 18px; letter-spacing: 2px;">Total Cost :</li><br>
                        <li style="font-size: 18px; letter-spacing: 2px;">Consignee :</li> <br>
                        <li style="font-size: 18px; letter-spacing: 2px;">Expenses :</li><br>
                        <li style="font-size: 18px; letter-spacing: 2px;">Trip Completed Date :</li>
                        
                    </p>
                    </div>
                </article>
            

                <div class="line"></div>
                


            </section>

        <footer> <!-- Marking the footer section -->

           <div class="line"></div>
           
           <p>Copyright 2019 - BABA GORA TRANSPORT</p> <!-- Change the copyright notice -->
           
          
           

        </footer>
            
		</section> <!-- Closing the #page section -->
        
        <!-- JavaScript Includes -->
        
        <script src="{% static 'detail/jquery.min.js' %}"></script>
       <!--
        <script src="jquery.scrollTo-1.4.2/jquery.scrollTo-min.js"></script>-->
        <script src="{% static 'detail/script.js' %}"></script>
    </body>
</html>
