{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>BABA GORA TRANSPORT</title>
        <link rel="stylesheet" type="text/css" href="{% static 'detail/styles.css' %}" />
        </head>
     <body>
    	<section id="page"> 
            <header> 
                <hgroup>
                    <h1>BABA GORA</h1>
                    <h3>TRANSPORT</h3>
                </hgroup>                     
               <a href="{% url 'dashboard' %}"><button class="btn btn-special">
               HOME
                <div class="fill-one"></div>
            </button></a>
                <a href="{% url 'new' %}"><button class="btn btn-special">
               NEW TRIP
                <div class="fill-one"></div>
            </button></a>
             <a href="{% url 'update' %}"><button class="btn btn-special">
               UPDATE TRIP
                <div class="fill-one"></div>
            </button></a>
            <p>&nbsp;</p>
            <a href="{% url 'expenses' %}"><button class="btn btn-special">
             EXPENSES
                <div class="fill-one"></div>
            </button></a>
            </header>
            <section id="articles"> 
                <div class="line"></div> 
                <div class="line"></div>
                <article id="article2">
                {% for r in road %}
                    <h2>Truck Number: {{r.truck}}</h2>
                    <div class="line"></div>
                    <div class="articleBody clear">
                    	<p>
                        <li style="font-size: 20px; letter-spacing: 2px;">Serial Number: {{r.sl_no}}</li><br>
                        <li style="font-size: 20px; letter-spacing: 2px;">Trip Start Date : {{r.trip_start_date}}</li><br>
                        <li style="font-size: 20px; letter-spacing: 2px;">Total Weight Loaded : {{r.total_weight}}</li><br>
                        <li style="font-size: 20px; letter-spacing: 2px;">From : {{r.source}}</li> <br>
                        <li style="font-size: 20px; letter-spacing: 2px;">To : {{r.destination}}</li><br>
                        <li style="font-size: 20px; letter-spacing: 2px;">Cost/Ton : {{r.cost_per_ton}}</li><br>
                        <li style="font-size: 20px; letter-spacing: 2px;">Total Cost : {{r.total_cost}}</li><br>
                        <li style="font-size: 20px; letter-spacing: 2px;">Trip Completed Date : {{r.trip_end_date}}</li><br>
                        <li style="font-size: 20px; letter-spacing: 2px;">TP Pass : {{r.tp_pass}}</li><br>
                        <li style="font-size: 20px; letter-spacing: 2px;">Receiving Weight: {{r.rec_weight}}</li><br>  
                        <li style="font-size: 20px; letter-spacing: 2px;">Diesel : {{r.diesel}}</li><br>
                        <li style="font-size: 20px; letter-spacing: 2px;">Mode Of Payment : {{r.mop}}</li><br>
                        <li style="font-size: 20px; letter-spacing: 2px;">Status : {{r.status}}</li><br>
                        </p>
                    <br><br>
                    </div>
                {% endfor %}
                </article>
                <article id="article2">
                {% for e in expenses %}
                    <h2>Truck Number: {{e.truck}}</h2>
                    <div class="line"></div>
                    <div class="articleBody clear">
                        <p>
                        <li style="font-size: 20px; letter-spacing: 2px;">Expense Date : {{e.expense_date}}</li><br>
                        <li style="font-size: 20px; letter-spacing: 2px;">Expense:  {{e.expense}}</li><br>
                        <li style="font-size: 20px; letter-spacing: 2px;">Comment : {{e.comment}}</li><br>
                        </p>
                    <br><br>
                    </div>
                {% endfor %}
                </article>
            <h2>Total Sale:{{total_sale}}<br>Total Expense: {{total_expense}}</h2>
                <div class="line"></div>
            </section>
        <footer> 
           <div class="line"></div>
           <p>Copyright 2019 - BABA GORA TRANSPORT</p>
        </footer>
        </section> 
        <script src="{% static 'detail/jquery.min.js' %}"></script>
        <script src="{% static 'detail/script.js' %}"></script>
    </body>
</html>
