{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>BABA GORA TRANSPORT | NEW TRIP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'trip/assets/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'trip/assets/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'trip/assets/fonts/flaticon/font/flaticon.css' %}">
    <link rel="icon" type="image/png" href="{% static 'dash/images/icons/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">
    <link type="text/css" rel="stylesheet" href="{% static 'trip/assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'trip/assets/css/skins/default.css' %}">
</head>
<body id="top" class="bg-grea-5">
<div class="page_loader"></div>
<div class="login-5">
    <div class="container">
        <div class="row login-box">
            <div class="col-lg-5 col-md-12 col-pad-0 bg-img none-992">
                <h3>BABA GORA TRANSPORT</h3>
                <a href="{% url 'update' %}" class="btn-outline">UPDATE TRIP</a>
                <p>&nbsp;</p>
                 <a href="{% url 'expenses' %}" class="btn-outline">EXPENSES</a>
                <p>&nbsp;</p>
                 <a href="{% url 'dashboard' %}" class="btn-outline">HOME</a>
            </div>
            <div class="col-lg-7 col-md-12 col-pad-0 align-self-center">
                <div class="login-inner-form">
                    <div class="details">
                        <h3>NEW TRIP DETAILS</h3>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="number" name="slno" class="input-text" placeholder="SL NO" required style="text-transform: uppercase;">
                            </div>
                             <div class="form-group">
                              TRIP START DATE:<input type="date" name="trip_start_date" class="input-text" placeholder="TRIP START DATE" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="truck" class="input-text" placeholder="TRUCK NUMBER" required style="text-transform: uppercase;">
                            </div>
                            
                            
                             <div class="form-group">
                                <input type="text" name="source" class="input-text" placeholder="FROM" style="text-transform: uppercase;" required>
                            </div>
                             <div class="form-group">
                                <input type="text" name="destination" class="input-text" placeholder="TO" style="text-transform: uppercase;" required>
                            </div>
                            
                             <div class="form-group">
                                <input type="text" name="pass" class="input-text" placeholder="T.P & PASS NO." style="text-transform: uppercase;">
                            </div>
                             <div class="form-group">
                                <input type="number" step="0.01" name="weight" class="input-text" placeholder="TOTAL WEIGHT IN MT" required style="text-transform: uppercase;">
                            </div>
                             <div class="form-group">
                                <input type="number" step="0.01" name="weight" class="input-text" placeholder="RECIEVING WEIGHT IN MT" required style="text-transform: uppercase;">
                            </div>
                            <div class="form-group">
                                <input type="number" step="0.01" name="cost" class="input-text" placeholder="RATE IN MT" style="text-transform: uppercase;">
                            </div>
                             <div class="form-group">
                                <input type="text" name="diesel" class="input-text" step="0.01" placeholder="DIESEL" style="text-transform: uppercase;">
                            </div>
                           
                             <div class="form-group">
                                <input type="number" name="advance" step="0.01" class="input-text" placeholder="ADVANCE" style="text-transform: uppercase;">
                            </div>
                             <div class="form-group">
                                <input type="number"  name="total_cost" class="input-text" step="0.01" placeholder="TOTAL" style="text-transform: uppercase;">
                            </div>
                            <div class="form-group">
                                <input type="number"  name="sortage" class="input-text" step="0.01" placeholder="SORTAGE" style="text-transform: uppercase;">
                            </div>
                            <div class="form-group">
                                <input type="number" name="less" class="input-text" step="0.01" placeholder="LESS" style="text-transform: uppercase;">
                            </div>
                            <div class="form-group">
                                <input type="number" name="final_amount" class="input-text" step="0.01" placeholder="FINAL AMOUNT" style="text-transform: uppercase;">
                            </div>
                            <div class="form-group">
                                <input type="text" name="status" class="input-text" placeholder="STATUS" style="text-transform: uppercase;">
                            </div>
                            <div class="form-group">
                                <input type="text" name="mop" class="input-text" placeholder="MODE OF PAYMENT" style="text-transform: uppercase;"
                                >
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-md btn-theme">SAVE</button>
                            </div>
                        </form>
                    {% if msg %}
                        <p>{{msg}}</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'trip/assets/js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'trip/assets/js/popper.min.js' %}"></script>
<script src="{% static 'trip/assets/js/bootstrap.min.js' %}"></script>
</body>
</html>